<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.7" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.818.41" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
</packages>